<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add schedule</title>
</head>
<style>
  h1 {
    color: white;
  }
  body {
    color: white;
    background-color: #1C1C4D;
  }
  th {
    border-right: 1px solid white;
    border-bottom: 1px solid white;
  }
  th, td {
    padding: 0 15px;
  }
  .formStyle {
    border: 1px solid white;
    border-collapse: collapse;
  }
</style>
<body>
<h1>Add a Schedule</h1>
<form>
  <input value="Back to Devices" type="submit" formaction="/devicePage">
</form>
<form>
  <table>
    <tr>
      <td>
        <label>Name of schedule</label>
      </td>
      <td>
        <input type="text" name="scheduleName" placeholder="schedule name">
      </td>
    </tr>
    <tr>
      <td>
        <label for="scheduleFreq">Schedule frequency</label>
      </td>
      <td>
        <select name="scheduleFreq" id="scheduleFreq">
          <option value="daily">Daily</option>
          <option value="weekly">Weekly</option>
          <option value="monthly">Monthly</option>
          <option value="yearly">Yearly</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <label for="scheduleDesc">Schedule description</label>
      </td>
      <td>
        <textarea name="scheduleDesc" id="scheduleDesc" rows="8" cols="100"></textarea>
      </td>
    </tr>
    <tr>
      <td>
        <input value="Create schedule" type="submit" formaction="/addSchedule">
      </td>
    </tr>
  </table>
</form>
<br>
<br>
<table class="formStyle">
  <tr>
    <th>
      Schedule name
    </th>
    <th>
      Schedule type
    </th>
    <th>
      Schedule description
    </th>
    <th>
      Edit
    </th>
    <th>
      Remove
    </th>
  </tr>
  {{printf "%s" .}}

</table>
</body>


</html>